.card{
    width: 100%;
    flex-shrink: 0; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: center;
}

.card:hover {
    transform: scale(1.03); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.videos {
    width: 100%;
    display: flex;
    gap: 4rem;
    align-items: flex-start;
    padding: 20px;
    flex-wrap: nowrap;
}

.horizontalScroll {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 1rem 0;
    -webkit-overflow-scrolling: touch;
}

.horizontalScroll::-webkit-scrollbar {
    height: 10px; 
}

.horizontalScroll::-webkit-scrollbar-track {
    border-radius: 10px;
}

.horizontalScroll::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px;
}

.horizontalScroll::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
